<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kevin Mulvey</title>
		<meta charset="utf-8">
		<meta name="description" content="Kevin Mulvey's Photography">
		<meta name="keywords" content="Kevin Mulvey, kmulvey, photography">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="index, follow">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/font.css"/>
        <style>
            header {
                margin-bottom: 1%;
            }
            h1{
                font-family: 'Black Rose Regular';
                font-weight: normal;
                font-size: 100px;
                color: rgba(0, 0, 0, 0.7);
                margin: 0;
                text-align: center;
            }
            picture, picture img {
                width: 100%; 
                height: auto;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Km</h1>
        </header>
        <gallery>
        {{- range $one, $two := .Pictures }}
            {{ if ne $one 0 }} <picture style="display: none"> {{ else }} <picture> {{ end }}
                <source srcset="images/4k/{{ . }}.avif" type="image/avif" media="(min-width: 3840px)">
                <source srcset="images/4k/{{ . }}.webp" type="image/webp"  media="(min-width: 3840px)">
                <source srcset="images/4k/{{ . }}.jpg" type="image/webp"  media="(min-width: 3840px)">
                <source srcset="images/1080/{{ . }}.avif" type="image/avif" media="(min-width: 1080px)">
                <source srcset="images/1080/{{ . }}.webp" type="image/webp"  media="(min-width: 1080px)">
                <source srcset="images/1080/{{ . }}.jpg" type="image/webp"  media="(min-width: 1080px)">
                <source srcset="images/small/{{ . }}.avif" type="image/avif">
                <source srcset="images/small/{{ . }}.webp" type="image/webp">
                <source srcset="images/small/{{ . }}.jpg" type="image/webp">
                <img src="images/1080/{{ . }}.jpg" alt="{{ . }}" loading="lazy" />
            </picture>
        {{- end }}
        </gallery>
    </body>
</html>
